$color-main: #d0d0ce;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: $color-main;
  box-sizing: border-box;
}

.header {
  margin: 24px 24px;

  &__nav {
    display: block;
    padding: 8px;

    &__list {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      align-items: center;

      &__item {
        height: 24px;

        &__image {
        }
      }
    }
  }
}

.title {
  font-size: 24px;
  line-height: 14px;
}

.popup {
  width: 400px;
  height: 500px;
  background-color: white;
}

.menu {
  display: flex;

  &__item {
    display: flex;

    &__link {
      &__image {
        width: 10%;
      }
    }
  }
}
